*{
    padding:0px;
    margin:0px;
}
body{
    background-color: rgb(211, 211, 211);
}
.main-div{
    width: 1280px;
    height: 65px;
    display: flex;
    align-items: center;
    background-color: rgb(255,255,255);
    z-index: 1;
    position: sticky;
    top: 0px;

}
.main-div2{
        height: 42px;
        width: 1224px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-left: 28px;
        margin-bottom: 12px;
        margin-right: 28px;
        background-color: rgb(255,255,255);
}

.main-div3{
        height: 42px;
        width: 1224px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-left: 28px;
        margin-bottom: 12px;
        margin-right: 28px;
        background-color: rgb(255,255,255);
}

.icon-one-box{
        height: 40px;
        width: 44px;
        margin-left: 35px;
        display: flex;
        align-items: center;
        /* padding: 8px 8px 8px 12px; */
        background-color: rgb(240,245,255);border-radius: 10px 0px 0px 10px;
        border-radius: 10px 0px 0px 10px;
}

.icon-one{
    height: 20px;
    width: 20px;
    margin-left: 15px;
    
}

.search-bar {
    display: flex;
    align-items: center;
    /* border-radius: 10px; */
  }

  .search-bar input[type="text"] {
    height: 40px;
    width: 456px;
    border: none;
    outline: none;
    font-size: 17px;
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    background-color: rgb(240,245,255);
    border-radius: 0px 10px 10px 0px;
    letter-spacing: 0.80px;
    word-spacing: normal;
    line-height: normal;
  }

  .main-div4{
        height: 42px;
        width: 1224px;
        display: flex;
        align-items: center;
        margin-top: 12px;
        margin-left: 10px;
        margin-bottom: 12px;
        margin-right: 28px;
        background-color: rgb(255,255,255);

  }
  .profile-class{
            height: 35px;
            width: 93px;
             display: flex;
             align-items: center;
             font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
             /* background-color: rgb(255,255,255); */
  }

  .profile-class:hover{
      background-color: rgb(241,242,244);
      border: 0.90px solid rgb(127, 127, 129);
      border-radius: 10px;
  }
 
  .profile{
    height: 24px;
    width: 24px;
    padding-right: 8px;
  }
  p{
  font-size: 16px;
  line-height: 24px;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
  }
  .profile-arro{
        height: 12px;
        width: 12px;
        margin-left: 8px;
  }     
  
 .profile-class:hover .profile-arro{
    transform: rotate(180deg);
    
  }

  .dropbtn-buttan {
    height: 35px;
    width: 93px;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    background-color: transparent;
  }

  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    top: 51px;
    min-width: 160px;
    background-color: rgb(255,255,255);
    border-radius: 0.20px 0.20px 10px 10px;
    box-shadow: 0px 8px 16px 0px rgba(131, 128, 128, 0.2);
    z-index: 1;
  }

  /* Links inside the dropdown */
  .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding-right:28px;
  }
  a{
    padding: 12px 16px;
    text-decoration: none;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover
  {
    background-color: rgb(241, 242, 244);
  }
  .dropdown-content div:hover{
    background-color: rgb(241, 242, 244);
    
  }

  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content
   {
    display: block;
}
.dropdown-content div{
  display: flex;
  color: #000;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    cursor: pointer;
    padding-left: 10px;
}

.cart{
  display: flex;
  height: 26px;
  width: 90px;
   /* background-color: aqua; */
   cursor: pointer;
   margin-left: 30px;
}
.cart img{
  height: 24px;
  width: 24px;
}
.cart p{
  color: #000;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 16px;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  line-height: 24px;
  text-align: center;
  padding-top: 3px;
  padding-left: 7px;
}

.become-seller{
  display: flex;
  background-color: transparent;
}
.become-seller img{
    margin-right: 7px;
}
.become-seller p{
  color: #000;
    text-decoration: none;
    display: flex;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    
}
/* dromdown 2 */
.dropdown2{
  display: flex;
  background-color: white;
    margin-left: 33px;
    z-index: 1;
}
.dropbtn2 {
  height: 35px;
  width: 40px;
  padding-left: 10px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  background-color: white;
  z-index: 1;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 img{
    margin-left: 10px;
    z-index: 1;
}
.dropdown-content2 {
  display: none;
  position: absolute;
  top: 51px;
  right: 40px;
  background-color: rgb(255,255,255);
  border-radius: 0.20px 0.20px 10px 10px;
  box-shadow: 0px 8px 16px 0px rgba(131, 128, 128, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  /* padding: 12px 16px; */
  background-color: white;
  text-decoration: none;
  margin-right: 15px;
  display: block;
  color: #000;
  text-decoration: none;
  text-align: center;
  font-size: 14px;
  font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
  cursor: pointer;
  z-index: 1;
}
a{
  /* padding: 12px 16px; */
  text-decoration: none;
  z-index: 1;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover
{
  background-color: rgb(241, 242, 244);
  z-index: 1;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2
 {
  display: block;
  z-index: 1;
}

.dropdown-content2 div{
  display: flex;
  z-index: 1;
}
.dropdown-content2 div:hover
{
  background-color: rgb(241, 242, 244);
  z-index: 5;
}

.dropdown2:hover{
  background-color: rgb(241,242,244);
  border: 0.90px solid rgb(127, 127, 129);
  border-radius: 10px;
  z-index: 1;
}

       /* <!-- two number content --> */
      
.fullbody-div{
display: flex;
align-items: center;
margin-top: 8px;
margin-left: 15px;
margin-right: 15px;
  }

.twonumber-div1{
  height: 142px;
  width: 1248px;
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  background-color: rgb(255,255,255);
}
.twonumber-div2{
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  display: flex;
  align-items: center;
  z-index: 1;
}
.twonumber-div2 .Grocery{
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.Grocery{
  height: 109px;
  width: 90px;

}
.Grocery img{
    height: 64px;
    width: 64px;
    margin-left: 10px;
}
.Grocery p{
  font-size: 14px;
  font-family:Sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
}

/* .twonumber-div2 .fashion{
  padding-top: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
} */

.fashion{
  height: 109px;
  width: 90px;
  z-index: 1;
}
.fashion img{
  height: 64px;
    width: 64px;
    margin-left: 10px;

}
.fashion p{
  font-size: 15px;
  display: flex;
  align-items: center;
  padding-left: 7px;
  display: inline-block;
}
.profile-arro2 img{
  height: 15px;
  width: 15px;
  background-color: transparent;
  position:relative;
  top: -18px;
  left: 60px;

}
.fashion .main2{
  position: relative;
  top: -10px;
}
 .fashion .main{
  height: 50px;
  position: relative;
 }
 /* .fashion .drop{
  position: relative;
  
 } */

.main ul {
  height: 562px;
  width: 240px;
  box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
  overflow: hidden;
  line-height: 20px;
  padding-top:12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.fashion a{
  color: rgb(54, 53, 53);
  margin: 0px;
  padding: 0px;
}
a :hover{
  color: black;
  margin-bottom: 2px;
}
ul {
  list-style: none;
  /* background-color: black; */
  color: rgb(54, 53, 53);
 
}
li{
  color: rgb(54, 53,53);
}

ul li {
  display: inline-block;
  padding: 12px 16px 12px 16px;
}

.drop ul li:hover{
background-color: rgb(240,245,255);
color:black;
  font-size: 14px;
}
ul li:hover .main2{
  background-color: transparent;
  
}
.drop {
  display: none;
  position: absolute; /* Position the dropdown absolutely */
 /* Match parent hover color */
  /* padding: 10px;  */
  border-radius: 5px; /* Add some border radius for better appearance */
  left: -198%; /* Ensure dropdown aligns with parent */
  top: 100px;
}

ul li:hover .drop {
  display: block;
 /* margin-top: 5px; Adjust margin for better positioning */
  font-size: 14px;
}

.drop ul {
  margin: 0px;
  padding: 0px;
}

.drop ul li {
  display: block;
}

.drop2 {
  display: none;
  position: absolute; /* Position the dropdown absolutely */
  top: 0; /* Align top with parent */
  left: 100%; /* Position to the right of parent */ 
}
.drop ul li:hover .drop2 {
  display: block;
  font-size: 14px;
}

          /* electronic section */
.fashionn{
  height: 109px;
  width: 90px;
  position: relative;
  left: 148px;
  top: -38px;
  z-index: 1;
}
.fashionn img{
  height: 64px;
    width: 64px;
    margin-left: 10px;

}
.fashionn p{
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-left: -20px;
  display: inline-block;
}
.profile-arro2 img{
  height: 15px;
  width: 15px;
  background-color: transparent;
  position:relative;
  /* top: px;
  left: 55px; */

}
.fashionn .main2{
  position: absolute;
  top: -10px;
  left: 0px;
}
 .fashionn .main{
  height: 50px;
  position: relative;
 }
 .fashionn a{
  color: rgb(54, 53, 53);
  margin: 0px;
  padding: 0px;
  text-decoration: none;
}
.fashionn.main ul {
  height: 562px;
  width: 240px;
  box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
  border-radius: 8px;
  background-color: #fff;
  z-index: 100;
  font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
  overflow: hidden;
  /* line-height: 20px; */
  padding-top:12px;
  padding-right: 16px;
  padding-bottom: 12px;
  padding-left: 16px;
}
.fashionn.drop {
  display: none;
  position: absolute; /* Position the dropdown absolutely */
 /* Match parent hover color */
  /* padding: 10px;  */
  border-radius: 5px; /* Add some border radius for better appearance */
  left: -100%; /* Ensure dropdown aligns with parent */
  top: 50%;
}

        /* home section  */

.fashionn-home{
height: 109px;
width: 90px;
position: relative;
left: 148px;
top: 11px;
}
.fashionn-home img{
height: 64px;
width: 64px;
margin-left: 30px;

}
.fashionn-home p{
font-size: 15px;
display: flex;
align-items: center;
margin-left: 20px;
display: inline-block;
}
.profile-arro2-home img{
height: 15px;
width: 15px;
background-color: transparent;
position:relative;
top: -30px;
left: 55px;

}
.fashionn-home .main2{
position: absolute;
top: -10px;
left: 0px;
z-index: 1;
}
.fashionn-home .main{
height: 50px;
position: relative;
z-index: 1;
}
.fashionn-home a{
color: rgb(54, 53, 53);
margin: 0px;
padding: 0px;
text-decoration: none;
z-index: 1;
}
.fashionn-home.main ul {
height: 562px;
width: 240px;
z-index: 1;
box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
border-radius: 8px;
background-color: #fff;
z-index: 100;
font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
overflow: hidden;
line-height: 20px;
padding-top:12px;
padding-right: 16px;
padding-bottom: 12px;
padding-left: 16px;
}
.fashionn-home.drop {
display: none;
position: absolute; /* Position the dropdown absolutely */
/* Match parent hover color */
/* padding: 10px;  */
border-radius: 5px; /* Add some border radius for better appearance */
left: -100%; /* Ensure dropdown aligns with parent */
top: 50%;
}
    /* appliances */
.appliances {
height: 109px;
width: 90px;
position:relative;
top: -55px;
left: 68px;
margin-left: 100%;
        
}
.appliances  img{
height: 64px;
width: 64px;
margin-left: 10px;
}
.appliances  p{
font-size: 14px;
font-family:Sans-serif;
font-size: 15px;
display: flex;
align-items: center;
justify-content: center
}       

/* flight section */
.flight{
  height: 109px;
  width: 90px;
  position: relative;
  top: -158%;
  left: 205px;
  margin-left: 100%;
          
  }
  .flight img{
  height: 64px;
  width: 64px;
  margin-left: 10px;
  }
  .flight p{
  font-size: 14px;
  font-family:Sans-serif;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center
  }   
  
  
        /* Beauty, Toys More */
  .fashionnn{
    height: 109px;
    width: 120px;
    position: relative;
    left: 480%;
    top: -244%;
    }
    .fashionnn img{
    height: 64px;
    width: 64px;
    margin-left: 30px;
    
    }
    .fashionnn p{
    font-size: 15px;
    display: flex;
    align-items: center;
    display: inline-block;
    }
    .fashionnn p span{
      margin-left: 30px;
    }
    .profile-arro22 img{
    height: 15px;
    width: 15px;
    background-color: transparent;
    position:relative;
    top: -36px;
    left: 105px;
    
    }
    .fashionnn .main2{
    position: absolute;
    top: -10px;
    left: 0px;
    }
    .fashionnn .main{
    height: 50px;
    position: relative;
    }
    .fashionnn .drop{
      margin-left: 50px;
    }
    .fashionnn a{
    color: rgb(54, 53, 53);
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    }
    .fashionnn.main ul {
    height: 562px;
    width: 240px;
    box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
    border-radius: 8px;
    background-color: #fff;
    z-index: 1;
    font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
    overflow: hidden;
    line-height: 20px;
    padding-top:12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    }
    .fashionnn.drop {
    display: none;
    position: absolute; /* Position the dropdown absolutely */
    /* Match parent hover color */
    /* padding: 10px;  */
    border-radius: 5px; /* Add some border radius for better appearance */
    left: -100%;
    width: 200px;
    margin-left: -20px;
    }
    .fashionnn.drop.drop2{
      width: 270px;
      margin-left: -25px;

    }
                  /* Two Wheelers */
    .fashionnn-4{
      height: 109px;
      width: 120px;
      position: relative;
      left: 650%;
      top: -344%;
      }
      .fashionnn-4 img{
      height: 64px;
      width: 64px;
      margin-left: 30px;
      
      }
      .fashionnn-4 p{
      font-size: 15px;
      display: flex;
      position: relative;
      left: 20px;
      align-items: center;
      display: inline-block;
      }
  
      .profile-arro22-4 img{
      height: 15px;
      width: 15px;
      background-color: transparent;
      position:relative;
      top: -36px;
      left: 90px;
      
      }
      .fashionnn-4 .main2{
      position: absolute;
      top: -10px;
      left: 0px;
      }
      .fashionnn-4 .main{
      height: 40px;
      position: relative;
      }
      .fashionnn-4 .drop{
        margin-left: 90px;
      }
      .fashionnn-4 a{
      color: rgb(54, 53, 53);
      margin: 0px;
      padding: 0px;
      text-decoration: none;
      }
      .fashionnn-4 .main ul {
      height: 88px;
      width: 230px;
      margin-left: 80px;
      box-shadow: 0 8px 8px 1px rgba(0, 0, 0, .3);
      border-radius: 8px;
      background-color: #fff;
      font-family: inter_regular, fallback-inter_regular, Arial, sans-serif;
      overflow: hidden;
      z-index: 1;
      /* line-height: 10px; */
      padding-top:5px;
      /* padding-right: 16px; */
      /* padding-bottom: 5px; */
      /* padding-left: 16px; */
      }
      .fashionnn-4.drop {
      display: none;
      position: absolute; /* Position the dropdown absolutely */
      /* Match parent hover color */
      /* padding: 10px;  */
      border-radius: 5px; /* Add some border radius for better appearance */
      left: -100%;
      }

            /* scrolling bar section start */

.slider-container {
  width: 1248px;
  height: 235px; /* Adjust as needed */
  margin: 0;
  position: relative;
  overflow: hidden; /* Key for sliding effect */
  left: 15px;
}

.slider {
  width: auto;
  display: flex; /* Arrange images horizontally */
  transition: transform 0.5s ease-in-out; /* Smooth transitions */
}

.slide {
  min-width: auto; /* Each image takes full width */
  flex-shrink: 0; /* Prevent images from shrinking */
}

.slide img {
  width: 1248px;
  height: 207px; /* Maintain aspect ratio */
  display: block; /* Prevents small space below image */
  cursor: pointer;
}

.prev-btn, .next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  color: white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  z-index: 0; /* Ensure buttons are on top */
}

.prev-btn {
  height: 88px;
  width: 40px;
  color: rgb(35, 35, 35);
  background-color: white;
  border-radius: 0px 5px 5px 0px;
}

.next-btn {
  height: 88px;
  width: 40px;
  right: 0px;
  color: rgb(35, 35, 35);
  background-color: white;
  border-radius: 5px 0px 0px 5px;
}

/* Optional: Add some styling for the dots */
.dots-container {
  text-align: center;
  height: 30px;
  background-color: white;
}

.dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  border-radius: 50%;
  background-color: #bbb;
  cursor: pointer;
}

.active {
  background-color: #717171;
}

/* best electronics */
/* .best-electronics{
      background-color: aquamarine;
      margin: 16px 16px 16px 16px;
      width: 1248px;
      height: 318px;
      margin-top: 10px;
      margin-left: 10px;

} */

.best-electronics h1{
    margin-left: 32%;
    font-family: inter_semi_bold,fallback-inter_semi_bold,Arial,sans-serif;
    font-size: 64px;
    color: rgb(45, 206, 66);
    padding-top: 50px;
    padding-bottom: 70px;
    gap: 3px;
}
